.container {
  padding-left: var(--space-4);
  padding-right: var(--space-4);
  width: 100%;
}

@media screen and (min-width: 40rem) {
  .container {
    padding-left: 0;
    padding-right: 0;
    margin-inline: auto;

    max-width: var(--container-sm);
  }
}

@media screen and (min-width: 48rem) {
  .container {
    max-width: var(--container-sm);
  }
}

@media screen and (min-width: 64rem) {
  .container {
    max-width: var(--container-lg);
  }
}

@media screen and (min-width: 80rem) {
  .container {
    max-width: var(--container-xl);
  }
}
