.cartContainer {
  display: grid;
  gap: var(--space-8);
  align-items: start;
}

@media (min-width: 64rem) {
  .cartContainer {
    grid-template-columns: 2fr 1fr;
  }
}

@media (min-width: 80rem) {
  .cartContainer {
    grid-template-columns: 3fr 1fr;
  }
}

.cartItem {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));

  gap: var(--space-8);
}
