.productsContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  gap: var(--space-8);
}

@media (min-width: 40rem) {
  .productsContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* @media (min-width: 48rem) {
  .productsContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
} */

@media (min-width: 64rem) {
  .productsContainer {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
