.shopContainer {
  display: grid;
  gap: var(--space-8);
}

@media (min-width: 64rem) {
  .shopContainer {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 80rem) {
  .shopContainer {
    grid-template-columns: 1fr 3fr;
  }
}
