.navbar {
  padding: var(--space-4) 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteTitle {
  font-size: 1.5rem;
  line-height: 1.1;
}

.lists {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: var(--space-4);
}

.list {
}

.link {
  text-decoration: none;
}
