.navbar {
  padding: var(--space-8) 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.siteTitle {
  font-size: var(--text-xl);
  line-height: 1.1;
}

.lists {
  list-style: none;
  padding: 0;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: var(--space-6);
}

.link {
  color: var(--text);
  text-decoration: none;
}

.list {
  font-size: var(--text-lg);
  border-radius: 100rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}

.list.active {
  background-color: var(--primary);
  padding: var(--space-2) var(--space-6);
}

.icon,
.name {
  font-weight: 600;
}

.list.active > .icon,
.list.active > .name {
  color: white;
}

.counter {
  align-self: self-start;

  font-size: 0.675rem;
  font-weight: 700;
  height: var(--space-4);
  width: var(--space-4);

  color: white;
  background-color: var(--primary);
  line-height: 0;

  border-radius: 100rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.list.active > .counter {
  background-color: white;
  color: var(--primary);
}
